.body {
    height: 175;
}

/* Styles for the Nav Bar Containter */
.top-nav-bar a {
    text-decoration: none;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* About and Store link */
#top-left-menu a {
    vertical-align: middle;
    float: left;
    padding-left: 17px;
    padding-top: 14px;
}
/* Gmail and Images link */
#top-right-nav a {
    vertical-align: middle;
    position: relative;
    padding-top: 10px;
}
/* Container for right nav links */
#top-right-cont a {
    float: right;
    padding-right: 8px;
    padding-left: 10px;
    vertical-align: middle;
    background-color: none;    
}

/* Top right containter margin */
#top-right-cont {
    padding-top: 7px;
    padding-right: 10px;
}

/* Styles for appdrawer image link */
#appdrawer a {
    position: relative;
    padding-top: 7px;

}
/* Styles for notifications image link */
#notifications a {
    position: relative;
    padding-top: 8px;
    padding-left: 12px;
}
/* Styles for account image link */
#account a {
    position: relative;
    padding-top: 0px;
    
}

/********************************************/
/********************************************/

.main-body {
    padding-top: 68px;
    display: flex;
    justify-content: center;
}
/* Google Image Style */
.google-image {
    transform: scale(.65);
    position: relative;
    margin-right: 352px;
    background-color: none;
}
/* Google logo image static */
.static {
    opacity: 1;
    position: absolute;
    }

.static:hover {
    position: absolute;

}
/* Google logo image gif */
.active-gif {
    position: absolute;
    opacity: 0;
}

.active-gif:hover {
    opacity: 1;
    position: absolute;

}
/* Search bar styles */
.searchbar {
    text-align: center;
    padding-top: 150px;


}

.search {
    height: 40px;
    width: 580px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px gray;
    border: none;
    padding-left: 15px;
    background-color: whitesmoke;
    background: url(http://i.imgur.com/l5S4LZ2.png) no-repeat; /* adding microphone icon */
    background-size: 25px 25px;
    background-position: 550px;
    ;
}

#searchbar:hover {
    box-shadow: 1px 2px 1px 1px gray;
    background-size: 5.5%;
}

/* This is the button search sytles */

.search-button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: whitesmoke; 
}

.lucky-button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: whitesmoke; 
}

.searchhover:hover {
    box-shadow: 1px 1px 1px 1px gray;
}

.searchbuttons a {
    text-decoration: none;
    border: none;
    color: black;
}

/********************************************/
/********************************************/

/* Styles for the Nav Bar Containter */
.bottom-nav-bar {
    text-decoration: none;
    padding-top: 300px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-top: .5px gray;
}

/* About and Store link */
#bottom-nav {
    vertical-align: middle;
    padding-left: 17px;
    padding-top: 14px;
    background-color: whitesmoke;
    height: 20px;
}

#bottom-nav a {
    margin-top: 10px;
}

/* Container for right nav links */
.right {
    float: right;
    padding-right: 8px;
    padding-left: 10px;  
}

.left {
    float: left;
    padding-right: 8px;
    padding-left: 10px;
}

/********************************************/
/* This is the link section for link styles */

/* unvisited link */
.link {
    text-decoration: none;
    font-size: small;
    font-size: .8em;
}

/* visited link */
.visited {
    color: blue;
}

/* mouse over link */
.hover:hover {
    text-decoration: underline;
}

/* selected link */
.active {
    color: black;
}

.scale:hover {
    transform: scale(1.5);
}

/* End of link styles section */
/********************************************/